section.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100% ;
  height: 100vh;

  .welcome-message {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(76, 43, 226);
    padding: 5rem 3rem;
    color: #d6efd8;

    h1 {
      font-size: 3rem;
    }

    p {
      width: 420px;
      font-size: 1.2rem;
      line-height: 2rem;
      text-align: left;
    }

    a {
      width: max-content;
      color: #d6efd8;
      font-family: roboto;
      position: relative;
      padding: 0.5rem 0;
    }

    a .line{
      transition: all linear 0.3s;
    }
    
    a:hover .line{
      width: 100%;
    }

    
  }
}
h2{
  color: white;
}
.main-D{
  // Display Style 
  padding: 10px;
  width: 300px;
  height:250px;
  margin-top: 50px;
  // 
  // Backgroun Style 
  background-color: blue;
  // 
  // Border style 
  border-radius: 14px;
  // 
  .LogOut{
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    width: 100px;
    height: 40px;
  }
  .LogOut:hover{
    background-color: red;
    color: white;
  }
}