body{
    background-color: rgb(10, 29, 51);
    max-width: 420px;
    margin: 100px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 1200px;
    margin: 50px auto;
}
.home2{
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(76, 43, 226);
    color: rgb(255, 253, 253);
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
}
input{
    width: 200px;
    height: 30px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    color: rgb(255, 255, 255);
}
button{
    width: 100px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: all 0.5s linear;
    cursor: pointer;
}
.main-Login{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 600px;
    border-radius: 14px;
    margin-top: 70px;
}
.Login-D-btn{
    width: 40px;
    height: 30px;
    background-color: rgb(162, 27, 27);
    color: white;
    border: none;
    border-radius:3px;
  }
  .Login-D-btn:hover{
    background-color: transparent;
    border: 1px solid red;
    color: red;
  }
  span{
    color: rgb(0, 132, 255);
    font-size: 17px;
    font-weight: bold;
  }
  