@font-face {
  font-family: roboto-thin;
  src: url("../fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: roboto-light;
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: roboto-medium;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: roboto-bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: roboto-black;
  src: url("../fonts/Roboto-Black.ttf");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  font-family: roboto-light;
}

body {
  background-color: #d6efd8;
}

h1,
h2 {
  font-family: roboto-black;
}

h3 {
  font-family: roboto-bold;
}

h4,
h5,
h6 {
  font-family: roboto-medium;
}

section.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
section.home .welcome-message {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgb(76, 43, 226);
  padding: 5rem 3rem;
  color: #d6efd8;
}
section.home .welcome-message h1 {
  font-size: 3rem;
}
section.home .welcome-message p {
  width: 420px;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: left;
}
section.home .welcome-message a {
  width: max-content;
  color: #d6efd8;
  font-family: roboto;
  position: relative;
  padding: 0.5rem 0;
}
section.home .welcome-message a .line {
  transition: all linear 0.3s;
}
section.home .welcome-message a:hover .line {
  width: 100%;
}

h2 {
  color: white;
}

.main-D {
  padding: 10px;
  width: 300px;
  height: 250px;
  margin-top: 50px;
  background-color: blue;
  border-radius: 14px;
}
.main-D .LogOut {
  border: 1px solid red;
  color: red;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}
.main-D .LogOut:hover {
  background-color: red;
  color: white;
}

body {
  background-color: rgb(10, 29, 51);
  max-width: 420px;
  margin: 100px auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 1200px;
  margin: 50px auto;
}

.home2 {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(76, 43, 226);
  color: rgb(255, 253, 253);
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
}

input {
  width: 200px;
  height: 30px;
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  color: rgb(255, 255, 255);
}

button {
  width: 100px;
  height: 40px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: all 0.5s linear;
  cursor: pointer;
}

.main-Login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 600px;
  border-radius: 14px;
  margin-top: 70px;
}

.Login-D-btn {
  width: 40px;
  height: 30px;
  background-color: rgb(162, 27, 27);
  color: white;
  border: none;
  border-radius: 3px;
}

.Login-D-btn:hover {
  background-color: transparent;
  border: 1px solid red;
  color: red;
}

span {
  color: rgb(0, 132, 255);
  font-size: 17px;
  font-weight: bold;
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.nav-main .nav-ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-main .nav-ul li {
  font-size: 19px;
  color: white;
  font-weight: 400;
}
.nav-main .nav-btn {
  display: flex;
  gap: 10px;
}
.nav-main .nav-btn button {
  border: 1px solid white;
  color: white;
}
.nav-main .nav-btn button:hover {
  background-color: white;
  color: black;
}
.nav-main h1 {
  color: white;
}

/*# sourceMappingURL=main.css.map */
