@font-face {
    font-family: roboto-thin;
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: roboto-light;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: roboto-medium;
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: roboto-bold;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: roboto-black;
    src: url('../fonts/Roboto-Black.ttf');
}